<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Declaracion de fichero de estilos-->  
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <title>Contacto</title>
  </head>

  <body class="body-Contacto">

    <!--Declaración de la cabecera de la página-->
    <header id="div_header">
       <div class="cabeceraNombreEmpresa"> 
         <div>
            <img src="../assets/images/ordenador_5.webp" alt="ordenador-4" class="img-Cabecera">
         </div>
         <h1>
            Informática práctica - su tienda de libros de segunda mano
         </h1>
       </div>
       <!--Hacemos un espaciado-->
       <div class="spacer"> </div>

       <nav class="navbar">
        <!--Div que contiene el menu--> 
        <div class="div_menu">
            <span class="boton">
                <a href="../index.html" class="div_menu"> Inicio </a>
            </span>
            <span class="boton">
                <a href="productos.html" class="div_menu"> Productos </a>
            </span>
            <span class="boton">
                <a href="#" class="div_menu"> Presupuesto</a>
            </span>
            <span class="boton-seleccionado">
                <a href="contacto.html" class="div_menu"> Contacto</a>
            </span>
         </div>
        </nav>
    </header>

    <!--Cuerpo principal de la página-->
    <main class="main-Contacto">

      <!--Zona izquierda de la página-->   
      <aside class="aside-Contacto">
        <p style="text-align:left"> Nuestras oficinas, así como nuestro almacén de productos, se encuentra en la dirección:
            c/Alcalá 619- C.P.28022 (Madrid)
        </p>
        <p style="font-size: large; font-weight: bold; color:blueviolet;"> ¡Visítenos! <br> <br> ¡Pensamos en Usted!</p>
      </aside>

      <!--Zona central de la página--> 
      <div class="centro-Contacto">
        <h2 style="margin-left:150px; text-decoration: underline;color: blue;">
           Ubicación física de nuestro almacén y nuestras oficinas
        </h2>
        <p style="margin-left:150px; font-weight:600;"> A continuación se muestra un mapa con nuestra localización en Madrid:</p>
        <div class="contenedor-img-Contacto">
          <img src="../assets/images/MapaDireccionEmpresa.jpg" alt="mapaEmpresa" class="img-Contacto">
        </div>
      </div>

      <!--Zona derecha de la página (texto en vertical)-->    
      <aside class="aside-Contacto">
        <p style="writing-mode: sideways-lr; font-size: x-large; font-weight: bold; color:brown;"> INFORMÁTICA PRÁCTICA
        </p>
      </aside>

      <!--Zona derecha de la página (foto ordenador)--> 
      <aside class="fotoContacto">
        <div>
          <img src="../assets/images/ordenador_4.webp" alt="ordenador_4">   
        </div>    
      </aside>
    </main>

    <!--Pie de página-->
    <footer class="footer-style">
        <p> Informática práctica, S.L. dirección: c/ Alcalá 619 (28022)- Madrid - todos los derechos reservados</p>
        <a href="https://www.linkedin.com"> www.linkedin.com</a>
        <a href="https://es-es.facebook.com/">www.facebook.com</a>
    
    </footer>

  </body> 
  
</html>
