<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Declaracion de fichero de estilos-->  
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <title>Productos</title>
  </head>

  <body class="body-Productos">

    <!--Declaración de la cabecera de la página-->
    <header id="div_header">
       <div class="cabeceraNombreEmpresa">  
        <div>
            <img src="../assets/images/ordenador_5.webp" alt="ordenador-4" class="img-Cabecera">
        </div>
        <h1>
            Informática práctica - su tienda de libros de segunda mano
        </h1>
       </div>
       <!--Hacemos un espaciado-->
       <div class="spacer"> </div>

       <nav class="navbar">
          <!--Div que contiene el menu--> 
          <div class="div_menu">
            <span class="boton">
                <a href="../index.html" class="div_menu"> Inicio </a>
            </span>
            <span class="boton-seleccionado">
                <a href="#" class="div_menu"> Productos </a>
            </span>
            <span class="boton">
                <a href="presupuesto.html" class="div_menu"> Presupuesto</a>
            </span>
            <span class="boton">
                <a href="contacto.html" class="div_menu"> Contacto</a>
            </span>
          </div>
        </nav>
    </header>

    <!--Cuerpo principal de la página-->
    <main>

        <!--Zona izquierda de la página--> 
        <aside class="aside-Productos">
          <p class="size-M"> 
           En esta página le mostramos los principales libros de segunda mano que tenemos
            disponibles. Nuestro objetivo es mantenernos al día, gracias a las
            novedades que nos aportan las personas que colaboran con nosotros.
          </p>
          <p class="size-M"> 
           Como podrá ver, trabajamos diferentes áreas de la informática y la programación,
           como por ejemplo:
          </p>
          <!--Hacemos una lista no numerada-->
          <ul>
            <li> Inteligencia artificial</li>
            <li> Diferentes lenguajes de programación</li>
            <li> Interfaces gráficas de lso mismos</li>
            <li> Tratamiento de datos y lenguajes de bases de datos</li>
            <li> Patrones de diseño de código </li>
            <li> Sistemas operativos</li>
          </ul>
          <!--Insertamos dos imágenes-->
          <img src="../assets/images/ordenador.jpg" alt="ordenador">
          <!--Hacemos un espaciado entre las dos imágenes-->
          <div class="spacer"> </div>
          <img src="../assets/images/ordenador_3.webp" alt="ordenador3">
        </aside>

        <!--Comienzo de la zona central de la página-->
       <div class="tituloPagProductos">
         <p>Principales ejemplares de que disponemos </p>
       </div>
       <!--Grid de 3 filas por 4 columnas, para incluir 12 imágenes-->
       <div class="contenedorPrincipalProductos">
          <div>
            <img src="../assets/images/BigData_IAjpg.jpg" alt="imgLibroBigData">    
          </div>
          <div>
            <img src="../assets/images/PowerBI_CursoPractico.jpg" alt="imgLibroPoerBI">
          </div>
          <div>
            <img src="../assets/images/portadaLibroR.jpg" alt="imgLibroR">
          </div>
          <div>
           <img src="../assets/images/portadaLibroPython.jpg" alt="imgLibroJavaPython">
          </div>
          <div>
            <img src="../assets/images/patronesDisenioPHP.jpg" alt="imgLibroPatronesPHP">
          </div>
          <div>
            <img src="../assets/images/Java_CursoPractico.jpg" alt="imgibroJavaPractico">
          </div>
          <div>
            <img src="../assets/images/JDBCySWING.jpg" alt="imgibroJDBCySWING">
          </div>
          <div>
            <img src="../assets/images/java17.jpg" alt="imgLibroJava17">
          </div>    
          <div>
            <img src="../assets/images/ChatGPTyOpenAI.jpg" alt="imgLibroChatGPT">
          </div>
          <div>
            <img src="../assets/images/c-12-pack.webp" alt="imgLibroC">
          </div>
          <div>
            <img src="../assets/images/sql-pack.webp" alt="imgLibroSQL">
          </div>
          <div>
            <img src="../assets/images/linux.webp" alt="imgLibroLinux">
          </div>
        </div>
              
    </main>

    <!--Pie de página-->
    <footer class="footer-style">
        <p> Informática práctica, S.L. dirección: c/ Alcalá 619 (28022)- Madrid - todos los derechos reservados</p>
        <a href="https://www.linkedin.com"> www.linkedin.com</a>
        <a href="https://es-es.facebook.com/">www.facebook.com</a>
     
    </footer>
        
  </body>

</html>